body{
    background-color: rgb(71, 165, 228);

}


h1{
    display: flex;
    justify-content: center;
}

.search {
    display: flex;
    align-items: center;
  }
  
  #search-input {
    flex: 1;
    margin-right: 10px;
  }